@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');


*{
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {      
  .imgage{      
     content:url("/src/img/Cart1\ 2\ mobile\ 1.png");
   } 
} 

.grids{
  grid-template-columns: 75%, 25%;
}

.w-240{
  width: 46rem;
}